:root {
  --subtitle-color: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --border-color: #ff0070;
  --text-color: #f1b2ce;
  --main-titles-color: #ff0070;
  --cover-image: url(../images/cover-image-dark.png);
  --dark-light-font: "IBM Plex Mono";
  --header-rec: hidden;
  --hover-color: rgba(50, 49, 45, 0.4);
}
/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
